<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearadmin.system.mapper.SysUserMapper">

    <resultMap id="SysUserMap" type="SysUser">
        <id property="userId" column="user_id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="status" column="status"></result>
        <result property="realName" column="real_name"></result>
        <result property="email" column="email"></result>
        <result property="avatar" column="avatar"></result>
        <result property="sex" column="sex"></result>
        <result property="deptId" column="dept_id"></result>
        <result property="phone" column="phone"></result>
        <result property="enable" column="enable"></result>
        <result property="login" column="login"></result>
        <result property="createTime" column="create_time"></result>
        <result property="createBy" column="create_by"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="updateBy" column="update_by"></result>
        <result property="lastTime" column="last_time"></result>
        <result property="remark" column="remark"></result>
        
        <result property="loginIp" column="login_ip"></result>
        <result property="registerTime" column="register_time"></result>
        <result property="loginTime" column="login_time"></result>
        <result property="loginType" column="login_type"></result>
        <result property="registerIp" column="register_ip"></result>
        <result property="birthday" column="birthday"></result>
        <result property="userAge" column="user_age"></result>
        <result property="signature" column="signature"></result>
        <result property="emailBind" column="email_bind"></result>
        <result property="phoneBind" column="phone_bind"></result>
        <result property="wxUrl" column="wx_url"></result>
        <result property="qqUrl" column="qq_url"></result>
        <result property="csdnUrl" column="csdn_url"></result>
        <result property="giteeUrl" column="gitee_url"></result>
        <result property="githubUrl" column="github_url"></result>
        <result property="weiboUrl" column="weibo_url"></result>
        <result property="biliUrl" column="bili_url"></result>
        <result property="userState" column="user_state"></result>
    </resultMap>

    <!--根据 Username 加载 SysUser -->
    <select id="selectByUsername" parameterType="string" resultMap="SysUserMap">
        select *
        from sys_user
        where username = #{username}
    </select>

    <!-- 根据 SysUser 条件查询用户列表 -->
    <select id="selectListPage" resultMap="SysUserMap">
        select * from sys_user
        <where>
            <if test="vo.username!=null and vo.username!=''">
                and username like "%"#{vo.username}"%"
            </if>
            <if test="vo.realName!=null and vo.realName!=''">
                and real_name like "%"#{vo.realName}"%"
            </if>
            <if test="vo.deptId!=null and vo.deptId!=''">
                <choose>
                    <when test="vo.deptId=='-1'">
                        and dept_id is null
                    </when>
                    <otherwise>
                        and dept_id = #{vo.deptId}
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <!--根据 Username 加载 SysUser -->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from sys_user
        <where>
            <if test="username!=null and username!=''">
                and username = #{username}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="realName!=null and realName!=''">
                and real_name = #{realName}
            </if>
            <if test="email!=null and email!=''">
                and email = #{email}
            </if>
            <if test="sex!=null and sex!=''">
                and sex = #{sex}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
        </where>
    </select>

    <!-- 根据 Id 查询用户-->
    <select id="selectByIdInfo" parameterType="long" resultMap="SysUserMap">
        select * from sys_user where user_id = #{userId}
    </select>

    <!-- 根据 Id 批量删除用户数据 -->
    <delete id="deleteByIds" parameterType="string">
        delete from sys_user where user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据部门字段清空部门字段 -->
    <update id="resetDeptByDeptId" parameterType="string">
        update sys_user
        set dept_id = ""
        where dept_id = #{deptId}
    </update>

    <!-- 根据部门字段清空部门字段 -->
    <update id="resetDeptByDeptIds" parameterType="string">
        update sys_user
        set dept_id = ""
        where dept_id in
        <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </update>
    
    <select id="getUserByEmail" resultType="SysUser">
        select * from sys_user where email = #{email}
    </select>

    <update id="setFace" parameterType="SysUser">
        update sys_user set avatar = #{avatar} where user_id = #{userId}
    </update>

    <update id="setUrls">
        update sys_user set ${column} = #{url} where user_id = #{userId}
    </update>
    <update id="setsignature">
        update sys_user set signature = #{signature} where user_id = #{userId}
    </update>

    <update id="unOrbdMail">
        update sys_user set email_bind = #{bd} where user_id = #{userId}
    </update>
    <update id="ghMail">
        update sys_user set email = #{email},email_bind = 2 where user_id = #{userId}
    </update>
</mapper>