<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsh.mapper.boke.ParseUrlsMapper">
    
    <select id="getListByAvai" resultType="map">
        select parse_id id,parse_name name,parse_url api from parse_urls
        where parse_active = 1 and shoudong = 0
    </select>
    <select id="getListByPage" resultType="com.pearadmin.boke.entry.ParseUrls" parameterType="com.pearadmin.boke.vo.query.QuerySourceVo">
        select * from parse_urls
        <where>
            <if test="vo.active != null">
                and parse_active = #{vo.active}
            </if>
            <if test="vo.shoudong != null">
                and shoudong = #{vo.shoudong}
            </if>
        </where>
       order by create_time desc 
    </select>
    
</mapper>