<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsh.mapper.boke.UsersMapper">
    
    <sql id="userInfo">
        user_id,user_name,user_email,user_face,date_format(login_time, '%Y-%m-%d %H:%i:%s') login_time,birthday,user_age,signature,
        wx_url,qq_url,csdn_url,github_url,gitee_url,bili_url,weibo_url,email_bind,phone_bind,user_state
    </sql>
    <sql id="userInfoAll">
        user_id,user_name,login_ip,user_email,user_face,date_format(login_time, '%Y-%m-%d %H:%i:%s') login_time,date_format(register_time, '%Y-%m-%d %H:%i:%s') register_time,
        birthday,user_age,signature,register_ip,phone,login_type,
        wx_url,qq_url,csdn_url,github_url,gitee_url,bili_url,weibo_url,email_bind,phone_bind,user_state
    </sql>
    
<!--    and user_state = 1 -->
    <select id="getUserByNEP" resultType="com.pearadmin.boke.entry.Users" parameterType="com.pearadmin.boke.entry.Users">
        select
            <include refid="userInfo" />
        from users where 
        (user_name = #{userName} 
            or (user_email = #{userName} and email_bind = 2)
            or (phone = #{userName} and phone_bind = 2))
        and password = #{password} 
    </select>
    <select id="getPage" resultType="com.pearadmin.boke.entry.Users" parameterType="com.pearadmin.boke.vo.query.QueryUserVo">
        select <include refid="userInfoAll" /> from users 
        <where>
            <if test="vo.userName != null and vo.userName != ''">
                and user_name like concat('%',#{vo.userName},'%')
            </if>
            <if test="vo.userEmail != null and vo.userEmail != ''">
                and user_email like concat('%',#{vo.userEmail},'%')
            </if>
            <if test="vo.phone != null and vo.phone != ''">
                and phone like concat('%',#{vo.phone},'%')
            </if>
            <if test="vo.deleteState != null">
                and user_state = #{vo.deleteState}
            </if>
            <if test="vo.phoneBind != null">
                and phone_bind = #{vo.phoneBind}
            </if>
            <if test="vo.emailBind != null">
                and email_bind = #{vo.emailBind}
            </if>
        </where>
    </select>

    <!--<where>
        user_id = 0
        <if test="userid != null">
            or user_id = #{userId}
        </if>
    </where>
    order by user_id desc-->
    <select id="getByUserId" resultType="com.pearadmin.boke.entry.Users">
        select
        <include refid="userInfo" />
        from users where user_id = #{userId}
        and user_state = 1
    </select>
    
    <update id="setFace" parameterType="com.pearadmin.boke.entry.Users">
        update users set user_face = #{userFace} where user_id = #{userId}
    </update>
    
    <update id="setUrls">
        update users set ${column} = #{url} where user_id = #{userId}
    </update>
    <update id="setsignature">
        update users set signature = #{signature} where user_id = #{userId}
    </update>
    
    <update id="unOrbdMail">
        update users set email_bind = #{bd} where user_id = #{userId}
    </update>
    <update id="unOrbdPhone">
        update users set phone_bind = #{bd} where user_id = #{userId}
    </update>
    <update id="ghMail">
        update users set user_email = #{email},email_bind = 2 where user_id = #{userId}
    </update>
    <update id="ghPhone">
        update users set phone = #{phone},phone_bind = 2 where user_id = #{userId}
    </update>
    <update id="updatePWD">
        update users set password = #{pwd} where user_id = #{userId}
    </update>
</mapper>