<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="origin" />

    <!--    <title>苏喂苏喂喔 - 博客园</title>-->

    <script src="/js/jquery-3.8.min.js"></script>
    <!-- Layui -->
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/layui/layui.js}"></script>
    <script th:inline="javascript">
        //项目根路径
        // ctx = /*[[@{/}]]*/'';
        ctx = [[${#request.getContextPath()}]];//应用路径
    </script>
    <script src="/js/gogal_ajax.js"></script>
    <script th:src="@{/js/bs_common.js}" ></script>
    <link th:href="@{/common/common.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<!--done-->
<div id="home">
    <div id="main">
        <div class="p_container">
            <div class="menuBox">
                删除：
                <select class="url_input" id="deleteState">
                    <option value = ''>全部</option>
                    <option value="0">已删除</option>
                    <option value="1">未删除</option>
                </select>
                标签：<input class="url_input" type="text" id="bokeType">
                <button class="l-btn" onclick="startSelect()">开始查询</button>
            </div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <!-- 表格主体 -->
                    <table class="layui-hide" id="bokeTypeListTable" lay-filter="bokeTypeListTable"></table>
                    <!-- 模板 -->
                    <script type="text/html" id="headerTool">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="reload">刷新</button>
<!--                            <button class="layui-btn layui-btn-sm" lay-event="deleteState">删除</button>-->
                            <button class="layui-btn layui-btn-sm" lay-event="forever">永久删除</button>
                        </div>
                    </script>
                    <script type="text/html" id="rowTool">
<!--                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteState">删除<i class="layui-icon layui-icon-close"></i></a>-->
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="forever">永久删除<i class="layui-icon layui-icon-close"></i></a>
                    </script>
                </div>
            </div>
        </div><!-- /container -->
    </div><!--end: main -->
</div><!--end: home 自定义的最大容器 -->
</body>
<script>
    
    $(function () {
    })
    let bokeTypeTable;
    let bokeTypelist_url = '/admin/bokeType/page';
    let bokeTypeDel_url = '/admin/bokeType/deleteState';
    let foreverDel_url = '/admin/bokeType/forever';
    let edit_url = '/admin/bokeType/edit';
    layui.use('table', function () {
        let table = layui.table;
        bokeTypeTable = table.render({
            elem: '#bokeTypeListTable'
            ,url: bokeTypelist_url
            ,toolbar: '#headerTool'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'cateId', width:60, title: 'ID', sort: true}
                    ,{field:'cateName', width:160, title: '类型名称'}
                    ,{field:'createTime', width:160, title: '创建时间'}
                    ,{field:'description', width:200, title: '描述'}
                    // ,{field:'deleteState', width:60, title: '删除',templet: function (d) {return d.deleteState===1?'否':'是'}}
                    ,{field:'caozuo',width:215, align:'center', fixed: 'right', toolbar: '#rowTool'}
                ]
            ]
            ,page: true
            ,skin: 'row' //表格风格
            ,limits: [30,40,50,60,70,80]
            ,limit: 50 //每页默认显示的数量
        });

        //头工具栏事件
        table.on('toolbar(bokeTypeListTable)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id);
            let selects = checkStatus.data;
            let len = selects.length;
            let bs = [];
            $.each(selects, function(i, n){
                bs[i] = n.cateId;
            });
            switch(obj.event){
                /*case 'deleteState':
                    if (len > 0) {
                        layer.confirm('确定要删除这'+len+'个吗？', function(index){
                            param_sucfun_get(bokeTypeDel_url,{ids:bs},function () {
                                startSelect();
                                layer.close(index);
                            })
                        });
                    }
                    break;*/
                case 'forever':
                    if (len > 0) {
                        layer.confirm('确定要永久删除这'+len+'个吗？', function(index){
                            param_sucfun_get(foreverDel_url,{ids:bs},function () {
                                startSelect();
                                layer.close(index);
                            })
                        });
                    }
                    break;
                case 'reload':
                    bokeTypeTable.reload();
                    break;
            }
        });
        table.on('edit(bokeTypeListTable)', function(obj){
            let f = obj.field;
            let p = {id:obj.data.id}
            p.cateName = obj.value
            param_sucAndfun_get(edit_url,p,function () {
                closelayer();
            })
        });
        //监听行工具事件
        table.on('tool(bokeTypeListTable)', function(obj){
            let b = obj.data;
            let cateId = b.cateId;
            /*if(obj.event === 'deleteState'){
                layer.confirm('确定要删除吗？', function(index){
                    param_sucfun_get(bokeTypeDel_url,{ids:cateId},function () {
                        obj.update({
                            deleteState: '0',
                        });
                        layer.close(index);
                    })
                });
            } else */if(obj.event === 'forever'){
                layer.confirm('确定要永久删除吗？', function(index){
                    param_sucfun_get(foreverDel_url,{ids:cateId},function () {
                        startSelect()
                        layer.close(index);
                    })
                });
            }
        });
    });
    
    function startSelect() {
        let deleteState = $("#deleteState").val();
        let bokeType = $("#bokeType").val();
        
        let where = {
            deleteState:deleteState,
            typeName:bokeType
        }
        bokeTypeTable.reload({
            where:where,
            page:{curr:1}
        })
    }
</script>
</html>
