<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no">
    <meta name="referrer" content="origin" />

    <!--    <title>苏喂苏喂喔 - 博客园</title>-->

    <script src="/js/jquery-3.8.min.js"></script>
    <!-- Layui -->
    <link th:href="@{/common/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/common/layui/layui.js}"></script>
    <script th:inline="javascript">
        //项目根路径
        // ctx = /*[[@{/}]]*/'';
        ctx = [[${#request.getContextPath()}]];//应用路径
    </script>
    <script src="/js/gogal_ajax.js"></script>
    <script th:src="@{/js/bs_common.js}" ></script>
    <link th:href="@{/common/common.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<!--done-->
<div id="home">
    <div id="main">
        <div class="p_container">
            <div class="menuBox">
                邮箱状态：
                <select class="url_input" id="emailBind">
                    <option value = ''>全部</option>
                    <option value="1">未绑定</option>
                    <option value="2">已绑定</option>
                </select>
                状态：
                <select class="url_input" id="deleteState">
                    <option value = ''>全部</option>
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
                昵称：<input class="url_input" type="text" id="userName">
                邮箱：<input class="url_input" type="text" id="userEmail">
                <button class="l-btn" onclick="startSelect()">开始查询</button>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">删除：是否可用0不可用1可用</div>
                <div class="layui-card-body">
                    <!-- 表格主体 -->
                    <table class="layui-hide" id="userListTable" lay-filter="userListTable"></table>
                    <!-- 模板 -->
                    <script type="text/html" id="headerTool">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="reload">刷新</button>
                            <button class="layui-btn layui-btn-sm" lay-event="deleteState">禁用</button>
                            <button class="layui-btn layui-btn-sm" lay-event="unDeleteState">启用</button>
<!--                            <button class="layui-btn layui-btn-sm" lay-event="resetPwd">重置密码</button>-->
                        </div>
                    </script>
                    <script type="text/html" id="rowTool">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" id="jyBtn{{d.userId}}"
                           lay-event="deleteState">
                            {{#  if(d.userState == 0){ }}
                            启用
                            {{#  } else { }}
                            禁用
                            {{#  } }}
                        </a>
                    </script>
                    <!--                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="resetPwd">重置密码</a>-->
                </div>
            </div>
        </div><!-- /container -->
    </div><!--end: main -->
</div><!--end: home 自定义的最大容器 -->
</body>
<script>
    
    $(function () {
    })
    let userTable;
    let userlist_url = '/admin/user/page';
    let userDel_url = '/admin/user/deleteState';
    let userPwd_url = '/admin/user/resetPwd';
    layui.use('table', function () {
        let table = layui.table;
        userTable = table.render({
            elem: '#userListTable'
            ,url: userlist_url
            ,toolbar: '#headerTool'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'userId', width:60, title: 'ID', sort: true}
                    ,{field:'userName', width:120, title: '昵称'}
                    ,{field:'loginIp', width:120, title: '登陆IP'}
                    ,{field:'userEmail', width:160, title: '邮箱'}
                    ,{field:'userFace', width:100, title: '头像'}
                    ,{field:'registerTime', width:150, title: '注册时间'}
                    ,{field:'loginTime', width:100, title: '登陆时间'}
                    ,{field:'registerIp', width:120, title: '注册IP'}
                    ,{field:'signature', width:60, title: '签名'}
                    ,{field:'emailBind', width:60, title: '邮箱绑定'}
                    ,{field:'wxUrl', width:60, title: '微信'}
                    ,{field:'qqUrl', width:60, title: 'QQ'}
                    ,{field:'csdnUrl', width:60, title: 'CSDN'}
                    ,{field:'giteeUrl', width:60, title: 'GITEE'}
                    ,{field:'githubUrl', width:60, title: 'GITHUB'}
                    ,{field:'weiboUrl', width:60, title: 'WEIBO'}
                    ,{field:'biliUrl', width:60, title: 'BILI'}
                    ,{field:'userState', width:100, title: '删除'}
                    ,{field:'caozuo',width:215, align:'center', fixed: 'right', toolbar: '#rowTool'}
                ]
            ]
            ,page: true
            ,skin: 'row' //表格风格
            ,limits: [30,40,50,60,70,80]
            ,limit: 50 //每页默认显示的数量
        });

        //头工具栏事件
        table.on('toolbar(userListTable)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id);
            let selects = checkStatus.data;
            let len = selects.length;
            let bs = '';
            if (len > 0) {
                for (let i = 0; i < len; i++) {
                    bs += selects[i].bokeId + ',';
                }
                bs = bs.substr(0, bs.length-1);
            }
            switch(obj.event){
                case 'deleteState':
                    if (len > 0) {
                        layer.confirm('确定要禁用这'+len+'个吗？', function(index){
                            param_sucfun_get(userDel_url,{ids:bs,useState:0},function () {
                                startSelect();
                                layer.close(index);
                            })
                        });
                    }
                    break;
                case 'unDeleteState':
                    if (len > 0) {
                        layer.confirm('确定要启用这'+len+'个吗？', function(index){
                            param_sucfun_get(userDel_url,{ids:bs,useState:1},function () {
                                startSelect();
                                layer.close(index);
                            })
                        });
                    }
                    break;
                case 'reload':
                    startSelect();
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(userListTable)', function(obj){
            let b = obj.data;
            let userId = b.userId;
            if(obj.event === 'deleteState'){
                layer.confirm('确定要禁用此用户吗？', function(index){
                    let state = b.userState;
                    let pstate;
                    let pv;
                    if (state === 0) {
                        pstate = 1;
                        pv = '禁用';
                    } else {
                        pstate = 0;
                        pv = '启用';
                    }
                    param_sucfun_get(userDel_url,{ids:userId,useState:pstate},function () {
                        obj.update({
                            userState: pstate,
                        });
                        $("#jyBtn" + userId).text(pv);
                        layer.close(index);
                    })
                });
            } else if (obj.event === 'resetPwd') {
                param_sucfun_get(userPwd_url,{ids:bokeId},function () {
                    layer.close(index);
                })
            }
        });
    });
    
    function startSelect() {
        let userName = $("#userName").val();
        let deleteState = $("#deleteState").val();
        let emailBind = $("#emailBind").val();
        let userEmail = $("#userEmail").val();
        
        let where = {
            userName:userName,
            deleteState:deleteState,
            emailBind:emailBind,
            userEmail:userEmail
        }
        userTable.reload({
            where:where,
            page:{curr:1}
        })
    }
</script>
</html>
